<section class="todoapp">
  <header class="header">
    <h1>{{ title }}</h1>
    <!-- <input class="new-todo" (keyup)="add($event)" [placeholder]="placeholder" autofocus> -->
    <!-- 【範本變數+案件事件過濾.enter】自訂變數 可以取到元素 (上方修改成下方範例) -->
    <input
      class="new-todo"
      #todoInput
      (keyup.enter)="add(todoInput.value); todoInput.value = ''"
      [placeholder]="placeholder"
      autofocus
    />
  </header>
  <section class="main" style="display: block">
    <input
      id="toggle-all"
      class="toggle-all"
      type="checkbox"
      [checked]="toggleAllBtn"
      (click)="toggleAll()"
    />
    <label for="toggle-all">標示皆完成</label>
    <ul class="todo-list">
      <li
        *ngFor="let item of todoDataList; let i = index"
        [class]="{ completed: item.status, editing: item.Editing }"
      >
        <div class="view">
          <input
            (click)="clickCheck(item)"
            class="toggle"
            type="checkbox"
            [checked]="item.status"
          />
          <label (dblclick)="edit(item)">{{ item.task }}</label>
          <button (click)="delete(i)" class="destroy"></button>
        </div>
        <input
          *ngIf="item.Editing"
          #itemInput
          [value]="item.task"
          (keyup.enter)="update(item, itemInput.value)"
          (blur)="update(item, itemInput.value)"
          (mouseenter)="itemInput.focus()"
          class="edit"
        />
      </li>
    </ul>
  </section>
</section>
